<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
  defer
></script>
<script src="admin.js" defer></script>
<style>
  body {
    min-width: 500px;
  }

  .split {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  table {
    width: 100%;
    border-spacing: unset;
  }

  th {
    text-align: left;
  }

  tr {
    cursor: pointer;
  }

  tr:hover:not(:first-child) {
    background-color: #eee;
  }

  .form {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .level-selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  }

  .level-selector > span {
    padding: 4px;
    background-color: lightgrey;
    margin: 2px;
    text-align: center;
    cursor: pointer;
  }

  .level-selector > .active {
    background-color: yellow;
  }
</style>
<body>
  <div id="root">
    <h4>Login</h4>
    <input v-model="password" type="password" />
    <div class="split">
      <div>
        <h4>Rooms</h4>
        <table>
          <tr>
            <th>Name</th>
            <th>published</th>
            <th>levels</th>
          </tr>
          <tr v-for="room in rooms" @click="selectRoom(room)">
            <td>{{ room.name }}</td>
            <td>{{ room.published ? 'yes' : 'no' }}</td>
            <td>{{ room.levels.length }}</td>
          </tr>
        </table>

        <button @click="pushChangesToGame()">Push changes to game</button>
      </div>
      <div class="form">
        <h4>Create room</h4>
        <input v-model="newRoomName" placeholder="name" />
        <label>
          <input v-model="newRoomPublished" type="checkbox" />
          Published
        </label>
        <div>
          {{ selectedLevelsCount }} levels
          <button @click="resetLevelSelections">reset</button>
        </div>
        <div class="level-selector">
          <span
            v-for="levelOption in levelOptions"
            @click="toggleLevelOption(levelOption)"
            :class="{ active: levelOption.selected }"
          >
            {{ levelOption.index + 1 }}
          </span>
        </div>
        <div class="split">
          <button @click="saveRoom" type="submit">Submit</button>
          <button @click="deleteSelectedRoom" style="color: red;">
            Delete {{ newRoomName }}
          </button>
        </div>
      </div>
    </div>
    <h4>Users</h4>
    <div v-for="name in playerNames">
      <span>{{ name }}</span>
      <button @click="deleteUserByName(name)">delete</button>
    </div>
  </div>
</body>
